.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

app-post {
    margin: 10px;
}

btn-primary {
    margin: 10vh auto;
    
}

.buttondiv {
    margin: 5vh auto;
    text-align: center;
}